<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel="stylesheet" type="text/css" href="/pages/home.css" />
</head>
<body>

<header>
    <div class="title-bar">
        <div class="title-bar-left">
            <a class="title-bar-title bugs-log" href="/">BUG <strong>Rate</strong></a>
        </div>
        <div class="title-bar-right">
            <ul class="menu float-right">
                <li><input type="search" placeholder="Search"></li>
                <li><button type="button" class="button">Search</button></li>
            </ul>
        </div>
    </div>
</header>
<div>
    <h3 class="version-text">MICEN2_VOC_2017.12</h3>
    <div class="version-overview">
        Bugs总数:
        总投入时间：
    </div>
    <div class="version-timeline">
        <div class="m-step step-5">
            <div class="step-item step-ed">
                <span class="dot"></span>
                <i class="line"></i>
                <div class="txt-box">
                    <div class="time-start">2017-12-18</div>
                    <div class="time-desc">Start Dev</div>
                </div>
            </div>
            <div class="step-item step-ed">
                <span class="dot"></span>
                <i class="line"></i>
                <div class="txt-box">Start Testing</div>
            </div>
            <div class="step-item step-ing">
                <span class="dot"></span>
                <i class="line"></i>
                <div class="txt-box">Release -P</div>
            </div>
            <div class="step-item">
                <span class="dot"></span>
                <i class="line"></i>
                <div class="txt-box">Customer Accepting</div>
            </div>
            <div class="step-item">
                <span class="dot"></span>
                <div class="txt-box">Release Product</div>
            </div>
        </div>
    </div>
    <div class="version-bugs">

    </div>


</div>


<% if (allTask) { %>
<ul>
<% allTask.forEach(function(task, index) { %>
<li>开发版本:<%=task['fixVersion']%><br/>
    <% if (task['releaseTestTime']) { %>转测时间:<%=task['releaseTestTime']%><% } %><br/>
    <% if (task['releasePTime']) { %>P版时间:<%=task['releasePTime']%><% } %><br/>
    <% if (task['releaseTime']) { %>正式版时间:<%=task['releaseTime']%><% } %><br/>
    bug总数:<%=task['bugs']%>
    <dl>
        <dt>前端工程师</dt>
        <% task['users'].forEach(function(user, index) { %>
        <dd>
            <dl>
                <dt><%=user['assignee']%></dt>
                <dd>bug数:<%=user['bugs']%></dd>
                <dd>测试版bug数:<%=user['tbugs']%></dd>
                <dd>P版bug数:<%=user['pbugs']%></dd>
                <dd>需求变更数:<%=user['reqUpdated']%></dd>
                <dd>开发开始时间:<%=user['devStartTime']%></dd>
                <dd>开发花费时间:<%=user['devTime']%>h</dd>
                <dd>解决测试bug时间:<%=user['fixBugsTime']%>h</dd>
                <dd>解决P版bug时间:<%=user['fixPBugsTime']%>h</dd>
                <dd>bug率:<%=user['testBugsRate']%>/day</dd>
                <dd>P版bug率:<%=user['PBugsRate']%>/day</dd>
                <dd>解决正式版bug:<%=user['formalBug']%>个</dd>
                <dl>
                    <dt>相关任务</dt>
                    <% user['tasks'].forEach(function(subTask, index) { %>
                        <dd><a href="<%=subTask['link']%>" target="_blank"><%=subTask['taskName']%></a></dd>
                    <% }) %>
                </dl>
            </dl>
        </dd>

        <% }) %>
    </dl>
</li>
<% }) %>
</ul>
<% } %>
<script type="text/javascript" charset="utf-8" src="/js/libs/jquery.js"></script>
<script type="text/javascript" charset="utf-8" src="/pages/home.js"></script>
</body>
</html>